* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  display: block;
  color: rgb(53, 28, 6);
  background-color: rgb(179, 122, 66);
  min-height: fit-content;
  height: 10vh;
  font-weight: bold;
  font-size: 4rem;
  padding: 1%;
  margin: auto;
  text-align: center;
}

main {
  min-height: 83vh;
  display: flex;
  justify-content: space-evenly;
}

nav {
  background-color: darkcyan;
  display: flex;
  justify-content: space-evenly;
  min-height: min-content;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0rem 2rem;
  margin: 0;
}

li {
  font-size: 1.6rem;
  font-weight: bold;
  color: bisque;
  background-color: rgb(47, 73, 73);
  border-radius: 1rem;
  margin: 0;
  padding: 2rem;
  list-style: none;
  width: auto;
  height: auto;
}

p {
  font-size: 1.6rem;
  color: aquamarine;
  background-color: royalblue;
  padding: 2rem;
  min-height: auto;

  text-align: justify;
}
footer {
  background-color: plum;
  padding: 1.5rem;
  height: 7vh;
}
